#Q1. What are the characteristics of the tuples? Is tuple immutable?

In [3]:
#tuples is some basics charterstics
#they are indexed
t=(1,3,4,5,)
t[2]

4

In [4]:
#tuple are ordred
t1=(1,3,4,'ashwani',True)
t1

(1, 3, 4, 'ashwani', True)

In [5]:
#immutual can't assin any value
t1[1]='12'

TypeError: 'tuple' object does not support item assignment

In [6]:
#they can contain duplicted items
t2=(1,2,3,3,3,4)

In [7]:
t2

(1, 2, 3, 3, 3, 4)

#Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
#tuples have only two in-built methods as compared to Lists.

In [8]:
t3=(1,2,3,4,5,5,'ashwani','yadav',True)

In [10]:
#fist method count total number avilable element inside of tuples
t3.count(5)

2

In [13]:
#find position of element iside of tuples
t3.index('ashwani')

6

#Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
#duplicates from the given list.

In [31]:
# set data types not allow to duplicate inside data base
#exmple 
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s1=set(List)
s1

{1, 2, 3, 4}

#Q4. Explain the difference between the union() and update() methods for a set. Give an example of
#each method.

In [45]:
s2={1,2,3,4,4,5,6,7,'ashwani','Ashwani'}
s3={8,10,11,12}

In [48]:
union_set=s2.union(s3)
union_set

{1, 10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 'Ashwani', 'ashwani'}

In [49]:
#not set 2 update 
s2

{1, 2, 3, 4, 5, 6, 7, 'Ashwani', 'ashwani'}

In [52]:
update_set=s2.update(s3)

In [55]:
s2

{1, 10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 'Ashwani', 'ashwani'}

#Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [57]:
# in dictionary store data with assin key name , you can store vaulue but key must be unique
d={'name':'ashwani', 'age':'22','collage':'HBTU KANPUR','course':'B.tech' }

In [58]:
d

{'name': 'ashwani', 'age': '22', 'collage': 'HBTU KANPUR', 'course': 'B.tech'}

In [59]:
d['name']

'ashwani'

In [ ]:
d['age']='23'

In [61]:
d

{'name': 'ashwani', 'age': '23', 'collage': 'HBTU KANPUR', 'course': 'B.tech'}

In [62]:
#inside of dictionary not any value store can't according to oder store value according to key

#Can we create a nested dictionary? If so, please give an example by creating a simple one-level
#nested dictionary.

In [68]:
d1={'person1':{'name':'shalbh','age':'25','status':'single'},
   'person2':{'name':'akshat','age':'24','status':'single'}}

In [69]:
d1

{'person1': {'name': 'shalbh', 'age': '25', 'status': 'single'},
 'person2': {'name': 'akshat', 'age': '24', 'status': 'single'}}

#Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
#the key as this list ['Python', 'Machine Learning’, 'Deep Learning']

#dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [73]:
list=['Python', 'Machine Learning ' ,'Deep Learning']

In [74]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dicts=dict1.setdefault('topics',list)

In [75]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning ', 'Deep Learning']}

In [76]:
dicts

['Python', 'Machine Learning ', 'Deep Learning']

#Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
#these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [77]:

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [78]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [89]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [90]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [91]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])